alembic
astroid
Click
colorama
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
isort
itsdangerous
Jinja2
lazy-object-proxy
Mako
MarkupSafe
mccabe
pylint
python-dateutil
python-dotenv
python-editor
six
SQLAlchemy
Werkzeug
wrapt
WTForms
